body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 60px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    text-align: center;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #4facfe;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #007bff;
}

#result {
    margin-top: 20px;
    text-align: left;
}